:root {
  --primary-text-color: #434455;
  --title-text-color: #2e2f42;
  --item-text-color: #2e2f42;
  --accent-color: #404bbf;
  --primary-background-color: #ffffff;
  --secondary-background-color: #2e2f42;
  --button-color: #4d5ae5;
  --button-background-color: #f4f4fd;
  --button-border-color: #e7e9fc;
}
body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
ul,
li {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
h1,
h2,
h3,
p {
  margin: 0;
}
/* Header style */
.container {
  width: 1128px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.first.container.main-menu {
  border-bottom: 1px solid var(--button-border-color);
}
.logo {
  display: flex;

  color: var(--secondary-background-color);
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.03em;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  text-transform: uppercase;

  text-decoration: none;
}

.logo-accent {
  display: flex;
  color: var(--button-color);
}
.list {
  list-style: none;
}

/* Site nav */
.main-menu {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}
.main-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.site-nav.list {
  display: flex;
  margin-left: 76px;
}
.site-nav .item + .item {
  margin-left: 40px;
}
.site-nav-link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: none;
}

.site-nav-link:hover,
.site-nav-link:focus {
  color: var(--accent-color);
}

.site-nav-link:focus {
  color: var(--accent-color);
}

/*Mailto tel link*/

.contacts.list {
  display: flex;
}
.contacts.list .item + .item {
  margin-left: 40px;
}

.mailto.link {
  color: var(--primary-text-color);
  font-style: normal;
  font-size: 16px;
  line-height: 1.5px;

  text-decoration: none;
}
.mailto-link:hover,
.mailto-link:focus {
  color: var(--accent-color);
}
.tel {
  color: var(--primary-text-color);
  font-style: normal;
  font-size: 16px;
  line-height: 1.5px;

  text-decoration: none;
}
/* Hero section */
.hero-section {
  background-color: var(--secondary-background-color);
  text-align: center;
  padding-top: 188px;
  padding-bottom: 188px;
}

.hero-title {
  width: 496px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 48px;

  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;

  color: var(--primary-background-color);
}
/* Button */
.button {
  text-align: center;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.04em;
  border-radius: 4px;
  border: 1px solid var(--button-background-color);
}
.button.primary {
  text-align: center;
  color: var(--primary-background-color);
  background-color: var(--button-color);
  padding: 16px 32px;
  min-width: 169px;
  border: 1px solid transparent;
}
.button.primary:hover,
.button.primary:focus {
  background-color: var(--accent-color);
  cursor: pointer;
}
.button.secondary {
  margin-left: 24px;

  color: var(--button-color);
  background-color: var(--button-background-color);
  padding: 12px 24px;
  min-width: 116px;
}
.button.secondary:hover,
.button.secondary:focus {
  color: var(--primary-background-color);
  background-color: var(--accent-color);
  cursor: pointer;
}

/* Section */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.feature.list {
  display: flex;
  column-gap: 24px;
  margin-top: 120px;
  margin-bottom: 120px;
}

.feature-item,
.projects-item {
  color: var(--item-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 8px;
}
.feature-description,
.projects-direction {
  font-size: 16px;
  line-height: 1.5;
}
.img.list {
  display: flex;
  column-gap: 24px;
  margin-bottom: 120px;
}
.our-team-section {
  background-color: var(--button-background-color);
  padding-top: 120px;
  padding-bottom: 120px;
}
.business-cards.list {
  display: flex;
  column-gap: 24px;
}
.cards-list {
  background-color: var(--primary-background-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.cards-subscription {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-right: auto;
  padding-left: auto;
}
.cards-item {
  color: var(--item-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
}
.cards-paragraf {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}
/*Portfolio items*/
.button.list {
  margin-left: 0;
}
.portfolio.item {
  display: flex;
  margin-top: 96px;
  margin-bottom: 72px;
  justify-content: center;
}
.portfolio.item:first-child {
  margin-left: 0;
}
.projects-examples.list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
  margin-bottom: 120px;
}
.examples-item {
  flex-basis: calc((100% - 48px) / 3);
}
.projects-card {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 15px;

  border: 1px solid var(--button-border-color);
  border-top: 1px solid transparent;
}

/* Footer */
.footer {
  background-color: var(--secondary-background-color);
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-description {
  display: block;
  width: 264px;
}
.logo-footer {
  display: flex;
  color: var(--button-background-color);
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.03em;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  text-transform: uppercase;
  text-decoration: none;
}
.footer-text {
  margin-top: 16px;
  color: #e7e9fc;
  font-size: 16px;
  line-height: 1.5;
}
